<template>
  <div class="q-pa-xl">
    <div class="full-width column wrap fixed-center items-center content-center">
          <div class="q-gutter-md column">
            <div class="myTextStyle text-h3">Zaštita šuma</div>
            <q-input class="myInputStyle" color="black" light-dimmed square outlined v-model="userName" filled type="email" label="Korisničko ime" />
            <q-input class="myInputStyle" color="black" square outlined v-model="passwordInput" filled type="password" label="Lozinka" />
            <q-btn color="primary" label="Prijava" @click="login"/>
            <q-btn class="myTextStyle" flat label="Registracija" @click="registerRowDialog = true"/>
          </div>

    <div class="q-gutter-y-md">
      <q-dialog
      v-model="registerRowDialog"
      >
      <q-card style="width: 300px">
        <q-card-section>
          <q-input v-model="userName" filled type="email" label="e-mail adresa" />
          <q-input v-model="passwordInput" filled type="password" label="Lozinka" />
          <q-btn color="primary" label="Confirm" @click="register" v-close-popup />
        </q-card-section>

      </q-card>
      </q-dialog>
    </div>

    </div>
  </div>
</template>
<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      isMobile: true,
      userName: '',
      passwordInput: '',
      registerRowDialog: false
    }
  },
  mounted: function () {
    if (process.env.MODE === 'cordova') { this.isMobile = true } else { this.isMobile = false }
    this.$auth.onAuthStateChanged((user) => {
      if (user) {
        // User is signed in.
        console.log('Index.vue: USER IS SIGNED IN')
        if (this.isMobile) {
          if (this.$route.path === '/') { this.$router.replace('/dojave') }
        }
        if (!this.isMobile) {
          if (this.$route.path === '/') { this.$router.replace('/motrionice') }
        }
      } else {
        console.log('Index.vue: NO USER IS SIGNED IN')
        if (this.$route.path !== '/') { this.$router.replace('/') }
        // No user is signed in.
      }
    })
  },
  methods: {
    login: function () {
      this.$auth.signInWithEmailAndPassword(this.userName, this.passwordInput).catch((error) => {
        var errorCode = error.code
        var errorMessage = error.message
        console.log(errorCode + errorMessage)
        this.showNotif('Neispravan email ili lozinka!')
        // ...
      })
    },
    register: function () {
      this.$auth.createUserWithEmailAndPassword(this.userName, this.passwordInput).catch((error) => {
        var errorCode = error.code
        var errorMessage = error.message
        console.log(errorCode + errorMessage)
        this.showNotif(errorMessage)
        // ...
      })
    },
    logout: function () {
      this.$auth.signOut().then(() => {
        console.log('SUCCESSFULLY SIGNED OUT')
      }).catch((error) => {
        console.log('ERROR WHILE SIGNING OUT' + error)
      })
    },
    showNotif: function (msg, icon) {
      this.$q.notify({
        message: msg,
        icon: icon
      })
    },
    resetMail: function () {
      this.$auth.sendPasswordResetMail(this.userName).then((func) => {
        this.showNotif('Poslan mail za reset')
      }).catch((error) => {
        console.log('Error while sending user reset mail' + error)
      })
    }
  }
}
</script>
<style lang="scss">
  .myInputStyle {
    background-color: rgba(255, 255, 255, 0.582);
  }
  .myTextStyle {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
  }
</style>
