<template>
    <div class="q-pa-md">
      <q-header>
      <q-toolbar class="bg-primary text-white shadow-2">

      <q-btn color="accent" icon="add" hint="Izmijeni" @click="resetVModel(); newEntryRowDialog = true">
        <q-tooltip content-class="black" content-style="font-size: 16px" :offset="[10, 10]"> Dodaj seriju </q-tooltip>
      </q-btn>

      <q-btn :disable="selected.length === 0" color="primary" icon="edit" @click="prepareEdit">
        <q-tooltip content-class="black" content-style="font-size: 16px" :offset="[10, 10]"> Izmijeni seriju </q-tooltip>
      </q-btn>

      <q-btn :disable="selected.length === 0" color="negative" icon="delete" @click="deleteRowDialog = true">
        <q-tooltip content-class="black" content-style="font-size: 16px" :offset="[10, 10]"> Izbriši seriju </q-tooltip>
      </q-btn>

      <q-space />
      <q-input borderless v-model="userEmail" class="q-mr-sm" readonly />
      <q-btn label="logout" @click="logout" />

    </q-toolbar>
    </q-header>

    <q-table
      title="Motrionice"
      :data="tableData"
      :columns="columns"
      row-key="docId"
      selection="single"
      :selected.sync="selected"
      />

      <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="editRowDialog">
          <q-card style="width: 300px">
          <q-card-section>
            <div class="text-h6">Izmjena</div>
          </q-card-section>
          <q-card-section v-if="selected.length>0">
            <q-input type="textarea" label="Unesite naslov" v-model="title" />
            <q-input type="textarea" label="Unesite godinu izlaska" v-model="year" />
            <q-select filled :options="options" label="Unesite ocjenu" v-model="rating" />
            <q-select filled :options="typeOptions" label="Serija ili film?" v-model="type" />
            <q-btn color="primary" label="Spremi" @click="editDocument" v-close-popup  />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

      <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="deleteRowDialog">
          <q-card style="width: 300px">
          <q-card-section>
            <div class="text-h6">Jeste li sigurni da želite ukloniti ovu seriju?</div>
          </q-card-section>
          <q-card-section class="q-gutter-md">
            <q-btn color="primary" label="Da" @click="deleteDocument" v-close-popup />
            <q-btn color="primary" label="Ups" v-close-popup />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

      <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="newEntryRowDialog">
          <q-card style="width: 300px">
          <q-card-section>
            <div class="text-h6">Novi unos</div>
          </q-card-section>
          <q-card-section>
            <q-input filled type="textfield" v-model="title" label="Unesite naslov" />
            <q-input filled type="textfield" v-model="year" label="Unesite godinu izlaska" />
            <q-select filled v-model="rating" :options="options" label="Unesite ocjenu" />
            <q-select filled v-model="type" :options="typeOptions" label="Serija ili film?" />
            <q-btn color="primary" label="Spremi" @click="saveToDb" v-close-popup />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

    </div>
</template>
<script>
export default {
  data () {
    return {
      userEmail: null,
      newEntryRowDialog: false,
      deleteRowDialog: false,
      editRowDialog: false,
      title: null,
      type: null,
      year: null,
      rating: null,
      selected: [],
      columns: [{ name: 'title', label: 'Naslov', field: 'title', align: 'center', sortable: true },
        { name: 'type', label: 'Vrsta', field: 'type', align: 'center', sortable: true },
        { name: 'year', label: 'Godina izlaska', field: 'year', align: 'center', sortable: true },
        { name: 'rating', label: 'Ocjena', field: 'rating', align: 'center', sortable: true }
      ],
      tableData: [],
      options: ['Negledljivo (1)', 'Gledljivo (2)', 'Solidno (3)', 'Super (4)', 'Vrhunski (5)'],
      typeOptions: ['Serija', 'Film']
    }
  },
  mounted: function () {
    const user = this.$auth.currentUser
    if (user) {
      this.loadFromDb()
      this.userEmail = this.returnUser()
    } else {
      if (this.$route.path === '/listPage') { this.$router.replace('/') }
    }
  },
  methods: {
    logout: function () {
      this.tableData = []
      this.userEmail = null
      this.$auth.signOut().then(() => {
        console.log('SUCCESSFULLY SIGNED OUT')
      }).catch((error) => {
        console.log('ERROR WHILE SIGNING OUT' + error)
      })
    },
    saveToDb: function () {
      const serijaData = {
        title: this.title,
        year: this.year,
        rating: this.rating,
        type: this.type
      }
      if (this.isFilled()) {
        this.$db.collection(this.$auth.currentUser.uid).add(serijaData)
          .then((docRef) => {
            console.log('Document written with ID: ', docRef.id)
            this.resetVModel()
          })
          .catch((error) => {
            console.error('Error adding document: ', error)
          })
      } else { this.showNotif('Molimo bez praznih unosa!') }
    },
    loadFromDb: function () {
      this.$db.collection(this.$auth.currentUser.uid).onSnapshot((querySnapshot) => {
        var buffer = []
        querySnapshot.forEach((doc) => {
          buffer.push({ docId: doc.id, ...doc.data() })
          console.log('KVERI SNAPSHOT')
        })
        this.tableData = buffer
        console.log('ZAVRSEN ONSNAPSHOT')
      })
    },
    editDocument: function () {
      if (this.isFilled()) {
        this.$db.collection(this.$auth.currentUser.uid).doc(this.selected[0].docId).update({
          title: this.title,
          year: this.year,
          rating: this.rating,
          type: this.type
        })
          .then(() => {
            console.log('Document update success!')
            this.resetVModel()
          })
          .catch((error) => {
            console.log('Error editing document: ', error)
          })
      } else { this.showNotif('Molimo bez praznih unosa!') }
    },
    deleteDocument: function () {
      this.$db.collection(this.$auth.currentUser.uid).doc(this.selected[0].docId).delete()
        .then((funciotn) => {
          console.log('Document successfully deleted!')
        })
        .catch((error) => {
          console.error('Error adding document: ', error)
        })
    },
    showNotif: function (msg, icon) {
      this.$q.notify({
        message: msg,
        icon: icon
      })
    },
    returnUser: function () {
      const email = this.$auth.currentUser.email
      return email
    },
    resetVModel: function () {
      this.title = null
      this.year = null
      this.rating = null
      this.type = null
    },
    isFilled: function () {
      console.log('checking if empty: ', this.title, this.year, this.rating, this.type)
      if (this.title && this.year && this.rating && this.type) {
        return true
      } else return false
    },
    prepareEdit: function () {
      this.title = this.selected[0].title
      this.year = this.selected[0].year
      this.rating = this.selected[0].rating
      this.type = this.selected[0].type
      this.editRowDialog = true
    }
  }
}
</script>
