<template>
  <div class="q-pa-xs">
    <q-table
    class="my-sticky"
    virtual-scroll
      separator = "cell"
      :rows-per-page-options="[0]"
      :virtual-scroll-sticky-size-start="48"
      :data="tableData"
      :columns="columns"
      :loading="loading"
      row-key="Period"
      binary-state-sort
    >
    <template v-slot:top>
      <div class="row q-gutter-sm">
        <q-input borderless v-model="userEmail" class="q-mr-sm" readonly />
        <q-select filled :options="rizikOptions" label="Stupanj rizika" v-model="stupanjRizika" />
      </div>
      <q-space />
    </template>

    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="Period" :props="props">
          {{ props.row.Period }}
        </q-td>
        <q-td key="Promatranja" :props="props">
            {{ props.row.Promatranja }}
            <q-popup-edit v-model="props.row.Promatranja" title="Promatranja" buttons>
              <q-input type="textarea" v-model="props.row.Promatranja" dense autofocus />
            </q-popup-edit>
          </q-td>
          <q-td key="PoduzeteMjere" :props="props">
            {{ props.row.PoduzeteMjere }}
            <q-popup-edit v-model="props.row.PoduzeteMjere" title="Poduzete mjere" buttons @save="saveToDb(props, 'wJSvUZVC9seH091lU5yC', '00-02')">
              <q-input type="textarea" v-model="props.row.PoduzeteMjere" dense autofocus />
            </q-popup-edit>
          </q-td>
      </q-tr>
    </template>

    <template v-slot:bottom>
        {{formattedDate}}
        <q-btn color="primary" label="Novi" @click="generateForm()"/>
      </template>
    </q-table>

    <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="textAreaDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Promatranja</div>
          </q-card-section>
          <q-card-section>
            <q-input filled type="textarea" v-model="promatranjaModel" label="Promatranja" />
            <q-btn color="primary"
            label="Spremi"
            @click="saveToDb()"
            v-close-popup
            />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

  </div>
</template>

<script>

import { date } from 'quasar'
document.addEventListener('deviceready', () => {
  // it's only now that we are sure
  // the event has triggered
}, false)

export default {
  name: 'UredjajiTable',
  data () {
    return {
      motrionica: null,
      uuid: null,
      formattedDate: null,
      userEmail: null,
      stupanjRizika: null,
      textAreaDialog: false,
      promatranjaModel: null,
      deleteDialog: false,
      loading: false,
      tableData: [
        { Period: '00-02', Promatranja: null, PoduzeteMjere: null },
        { Period: '02-04', Promatranja: null, PoduzeteMjere: null },
        { Period: '04-06', Promatranja: null, PoduzeteMjere: null },
        { Period: '06-08', Promatranja: null, PoduzeteMjere: null },
        { Period: '08-10', Promatranja: null, PoduzeteMjere: null },
        { Period: '10-12', Promatranja: null, PoduzeteMjere: null },
        { Period: '12-14', Promatranja: null, PoduzeteMjere: null },
        { Period: '14-16', Promatranja: null, PoduzeteMjere: null },
        { Period: '16-18', Promatranja: null, PoduzeteMjere: null },
        { Period: '18-20', Promatranja: null, PoduzeteMjere: null },
        { Period: '20-22', Promatranja: null, PoduzeteMjere: null },
        { Period: '22-24', Promatranja: null, PoduzeteMjere: null }
      ],
      original: [],
      columns: [
        { name: 'Period', label: 'Period', field: 'Period', align: 'left', sortable: true },
        { name: 'Promatranja', label: 'Promatranja', field: 'Promatranja', align: 'left', sortable: true },
        { name: 'PoduzeteMjere', label: 'Poduzete mjere', field: 'PoduzeteMjere', align: 'left', sortable: true }
      ],
      rizikOptions: ['Vrlo nizak (1)', 'Nizak (2)', 'Umjeren (3)', 'Visok (4)', 'Vrlo visok (5)']
    }
  },
  mounted: function () {
    this.loginStatus = true
    this.userEmail = this.$auth.currentUser.email
    this.formattedDate = this.getFormattedDate(Date.now())
    this.getDeviceUUID()
    this.getTable()
  },
  methods: {
    saveToDb: async function (props, targetDoc, targetObj) {
      this.props = props
      console.log('PROVJERA ' + this.props.row.Period)
      const ref = this.$db.collection('DnevniIzvjestaji').doc(targetDoc)
      ref.update({
        [props.row.Period]: {
          Promatranja: this.props.row.Promatranja,
          PoduzeteMjere: this.props.row.PoduzeteMjere
        }
      })
    },
    getFormattedDate: function (timeStamp) {
      // TODO treba implementirat interval
      // const timeStamp = Date.now()
      // - HH:mm ako ćeš ure
      const formattedString = date.formatDate(timeStamp, 'D. MMMM.YYYY.', {
        days: ['Nedjelja', 'Ponedjeljak', 'Utorak', 'Srijeda', 'Četvrtak', 'Petak', 'Subota'],
        daysShort: ['Pon', 'Uto', 'Sri', 'Čet', 'Pet', 'Sub', 'Ned'],
        months: ['Siječnja', 'Veljače', 'Ožujka', 'Travnja', 'Svibnja', 'Lipnja', 'Srpnja', 'Kolovoza', 'Rujna', 'Listopada', 'Studenog', 'Prosinca'],
        monthsShort: ['01.', '02.', '03.', '04.', '05.', '06.', '07.', '08.', '09.', '10.', '11.', '12.']
      })
      return formattedString
    },
    getDeviceUUID: function () {
      // this.imei = window.device.serial
      return 1234567890
    },
    getDeviceMotrionica: async function () {
      const deviceUID = this.getDeviceUUID()
      const snapshot = await this.$db.collection('Uredjaji').where('UUID', '==', deviceUID).get()
      const buffer = []
      snapshot.forEach((doc) => {
        buffer.push(doc.data())
      })
      return buffer[0].Motrionica
    },
    generateForm: async function () {
      const snapshot = await this.$db.collection('Uredjaji').where('UUID', '==', this.getDeviceUUID()).get()
      const buffer = []
      snapshot.forEach((doc) => {
        buffer.push(doc.data())
      })
      console.log('UREDJAJ JE ' + buffer[0].Marka + buffer[0].Model)
      const motrionica = await buffer[0].Motrionica.get()
      this.motrionica = motrionica.data()
      this.$db.collection('DnevniIzvjestaji').add({
        Motrionica: buffer[0].Motrionica,
        Datum: this.getFormattedDate(Date.now()),
        Smjena1: {
          Prijava: null,
          Odjava: null,
          Radnik1: null,
          Radnik2: null
        },
        Smjena2: {
          Prijava: null,
          Odjava: null,
          Radnik1: null,
          Radnik2: null
        },
        Smjena3: {
          Prijava: null,
          Odjava: null,
          Radnik1: null,
          Radnik2: null
        },
        h0002: { Promatranja: null, PoduzeteMjere: null },
        h0204: { Promatranja: null, PoduzeteMjere: null },
        h0406: { Promatranja: null, PoduzeteMjere: null },
        h0608: { Promatranja: null, PoduzeteMjere: null },
        h0810: { Promatranja: null, PoduzeteMjere: null },
        h1012: { Promatranja: null, PoduzeteMjere: null },
        h1214: { Promatranja: null, PoduzeteMjere: null },
        h1416: { Promatranja: null, PoduzeteMjere: null },
        h1618: { Promatranja: null, PoduzeteMjere: null },
        h1820: { Promatranja: null, PoduzeteMjere: null },
        h2022: { Promatranja: null, PoduzeteMjere: null },
        h2224: { Promatranja: null, PoduzeteMjere: null }

      })
    },
    getTable: async function () {
      const buffer = []
      const currentDate = await this.getFormattedDate(Date.now())
      const snapshot = await this.$db.collection('DnevniIzvjestaji').where('Datum', '==', currentDate).get()
      snapshot.forEach((doc) => {
        buffer.push(doc.data())
        const docData = doc.data()
        // const map = docData.h0002
        console.log('DNEVNI IZVJESTAJ LINIJA: ' + Object.values(docData.h0002))
      })
      console.log('BAFER DNEVNI IZVJESTAJ LINIJA: ' + Object.keys(buffer[0]))
      this.tableData = [
        { Period: '00-02', ...Object.entries(buffer[0].h0002) },
        { Period: '02-04', Promatranja: null, PoduzeteMjere: null },
        { Period: '04-06', Promatranja: null, PoduzeteMjere: null },
        { Period: '06-08', Promatranja: null, PoduzeteMjere: null },
        { Period: '08-10', Promatranja: null, PoduzeteMjere: null },
        { Period: '10-12', Promatranja: null, PoduzeteMjere: null },
        { Period: '12-14', Promatranja: null, PoduzeteMjere: null },
        { Period: '14-16', Promatranja: null, PoduzeteMjere: null },
        { Period: '16-18', Promatranja: null, PoduzeteMjere: null },
        { Period: '18-20', Promatranja: null, PoduzeteMjere: null },
        { Period: '20-22', Promatranja: null, PoduzeteMjere: null },
        { Period: '22-24', Promatranja: null, PoduzeteMjere: null }
      ]
    }
  }
}
</script>
<style lang="sass">
.my-sticky
  /* height or max-height is important */
  height: 89vh
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
  thead tr:first-child th
    top: 0
</style>
