<template>
    <div class="q-pa-xs">
    <q-layout>
    <q-table
    grid
    virtual-scroll
      filled
      title="Dnevni izvještaj"
      separator = "cell"
      :rows-per-page-options="[0]"
      :virtual-scroll-sticky-size-start="48"
      :data="tableData"
      :columns="columns"
      row-key="Period"
      selection="single"
      :loading="loading"
      :selected.sync="selected"
    >
    <!-- OVO-> class="my-sticky" gre gore iznad title i virtual scroll <-->
    <template v-slot:top>
      <div class="row q-gutter-sm">
        <q-input class="myInputStyle" borderless v-model="userEmail" readonly />
        <q-space />
        <q-select class="myInputStyle" filled :options="rizikOptions" label="Stupanj rizika" v-model="stupanjRizika" />
      </div>
    </template>

    <template v-slot:bottom>
        {{formattedDate}} - {{activeMotrionica}} - {{imei}}
      </template>

    </q-table>
          <q-page-sticky position="bottom-right" :offset="[18, 18]">
            <q-btn fab icon="add" color="negative" :disable="selected[0] === undefined" @click="prepareEdit(); editDialog = true"/>
          </q-page-sticky>
    </q-layout>
  <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="editDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Izmjena</div>
          </q-card-section>
          <q-card-section>
            <q-input filled type="textarea" v-model="promatranjaModel" label="Promatranja" />
            <q-input filled type="textarea" v-model="poduzeteMjereModel" label="Poduzete mjere" />
            <q-btn color="primary"
            label="Spremi"
            @click="updateDocument()"
            v-close-popup />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>
  </div>
</template>

<script>
import { date } from 'quasar'
export default {
  name: 'OpcineTable',
  data () {
    return {
      imei: null,
      activeMotrionica: null,
      activeTableId: null,
      promatranjaModel: '',
      poduzeteMjereModel: '',
      formattedDate: null,
      userEmail: null,
      stupanjRizika: null,
      deleteDialog: false,
      unsub: null,
      editDialog: false,
      loading: false,
      rowCount: 10,
      columns: [
        { name: 'Period', label: 'Period', field: 'Period', align: 'left', sortable: true },
        { name: 'Promatranja', label: 'Promatranja', field: 'Promatranja', align: 'left', sortable: true },
        { name: 'PoduzeteMjere', label: 'Poduzete mjere', field: 'PoduzeteMjere', align: 'left', sortable: true }
      ],
      tableData: [
        { Period: '00-02', Promatranja: null, PoduzeteMjere: null },
        { Period: '02-04', Promatranja: null, PoduzeteMjere: null },
        { Period: '04-06', Promatranja: null, PoduzeteMjere: null },
        { Period: '06-08', Promatranja: null, PoduzeteMjere: null },
        { Period: '08-10', Promatranja: null, PoduzeteMjere: null },
        { Period: '10-12', Promatranja: null, PoduzeteMjere: null },
        { Period: '12-14', Promatranja: null, PoduzeteMjere: null },
        { Period: '14-16', Promatranja: null, PoduzeteMjere: null },
        { Period: '16-18', Promatranja: null, PoduzeteMjere: null },
        { Period: '18-20', Promatranja: null, PoduzeteMjere: null },
        { Period: '20-22', Promatranja: null, PoduzeteMjere: null },
        { Period: '22-24', Promatranja: null, PoduzeteMjere: null }
      ],
      selected: [],
      rizikOptions: ['Vrlo nizak (1)', 'Nizak (2)', 'Umjeren (3)', 'Visok (4)', 'Vrlo visok (5)']
    }
  },
  mounted: async function () {
    this.userEmail = this.$auth.currentUser.email
    this.formInit()
    console.log('MOTRIONICA ID: ' + await this.getMotrionicaId())
  },
  methods: {
    prepareEdit: function () {
      this.promatranjaModel = this.selected[0].Promatranja
      this.poduzeteMjereModel = this.selected[0].PoduzeteMjere
      console.log('SELECTED PROMATRANJA: ' + this.selected[0].Period)
    },
    updateDocument: async function () {
      const periodId = this.selected[0].periodId
      const docRef = this.$db.collection('DnevniIzvjestaji').doc(this.activeTableId)
      docRef.update({
        [periodId]: {
          Promatranja: this.promatranjaModel,
          PoduzeteMjere: this.poduzeteMjereModel
        }
      })
      this.selected = []
      this.getTable()
    },
    formInit: async function () {
      let num = 0
      const motrionicaRef = this.$db.collection('Motrionice').doc(await this.getMotrionicaId())
      const currentDate = await this.getFormattedDate(Date.now())
      const snapshot = await this.$db.collection('DnevniIzvjestaji').where('Datum', '==', currentDate)
        .where('Motrionica', '==', motrionicaRef)
        .get()
      snapshot.forEach((doc) => {
        num++
      })
      if (num > 0) {
        this.getTable()
      } else {
        this.generateForm()
        this.getTable()
      }
    },
    getTable: async function () {
      const motrionicaRef = this.$db.collection('Motrionice').doc(await this.getMotrionicaId())
      this.activeMotrionica = await motrionicaRef.get()
      this.activeMotrionica = this.activeMotrionica.data().Naziv
      const buffer = []
      const currentDate = await this.getFormattedDate(Date.now())
      const snapshot = await this.$db.collection('DnevniIzvjestaji').where('Datum', '==', currentDate)
        .where('Motrionica', '==', motrionicaRef)
        .get()
      snapshot.forEach((doc) => {
        buffer.push(doc.data())
        this.activeTableId = doc.id
        const docData = doc.data()
        // const map = docData.h0002
        console.log('DNEVNI IZVJESTAJ LINIJA: ' + Object.values(docData.h0002))
      })
      this.formattedDate = buffer[0].Datum
      console.log('BAFER DNEVNI IZVJESTAJ LINIJA: ' + Object.keys(buffer[0]) + buffer[0].Datum)
      this.tableData = [
        { periodId: 'h0002', Period: '00-02', Promatranja: buffer[0].h0002.Promatranja.toString(), PoduzeteMjere: buffer[0].h0002.PoduzeteMjere.toString() },
        { periodId: 'h0204', Period: '02-04', Promatranja: buffer[0].h0204.Promatranja.toString(), PoduzeteMjere: buffer[0].h0204.PoduzeteMjere.toString() },
        { periodId: 'h0406', Period: '04-06', Promatranja: buffer[0].h0406.Promatranja.toString(), PoduzeteMjere: buffer[0].h0406.PoduzeteMjere.toString() },
        { periodId: 'h0608', Period: '06-08', Promatranja: buffer[0].h0608.Promatranja.toString(), PoduzeteMjere: buffer[0].h0608.PoduzeteMjere.toString() },
        { periodId: 'h0810', Period: '08-10', Promatranja: buffer[0].h0810.Promatranja.toString(), PoduzeteMjere: buffer[0].h0810.PoduzeteMjere.toString() },
        { periodId: 'h1012', Period: '10-12', Promatranja: buffer[0].h1012.Promatranja.toString(), PoduzeteMjere: buffer[0].h1012.PoduzeteMjere.toString() },
        { periodId: 'h1214', Period: '12-14', Promatranja: buffer[0].h1214.Promatranja.toString(), PoduzeteMjere: buffer[0].h1214.PoduzeteMjere.toString() },
        { periodId: 'h1416', Period: '14-16', Promatranja: buffer[0].h1416.Promatranja.toString(), PoduzeteMjere: buffer[0].h1416.PoduzeteMjere.toString() },
        { periodId: 'h1618', Period: '16-18', Promatranja: buffer[0].h1618.Promatranja.toString(), PoduzeteMjere: buffer[0].h1618.PoduzeteMjere.toString() },
        { periodId: 'h1820', Period: '18-20', Promatranja: buffer[0].h1820.Promatranja.toString(), PoduzeteMjere: buffer[0].h1820.PoduzeteMjere.toString() },
        { periodId: 'h2022', Period: '20-22', Promatranja: buffer[0].h2022.Promatranja.toString(), PoduzeteMjere: buffer[0].h2022.PoduzeteMjere.toString() },
        { periodId: 'h2224', Period: '22-24', Promatranja: buffer[0].h2224.Promatranja.toString(), PoduzeteMjere: buffer[0].h2224.PoduzeteMjere.toString() }
      ]
    },
    generateForm: async function () {
      console.log('GENERATING FORM')
      const snapshot = await this.$db.collection('Uredjaji').where('UUID', '==', this.getDeviceUUID()).get()
      const buffer = []
      snapshot.forEach((doc) => {
        buffer.push(doc.data())
      })
      console.log('UREDJAJ JE ' + buffer[0].Marka + buffer[0].Model)
      const motrionica = await buffer[0].Motrionica.get()
      this.motrionica = motrionica.data()
      this.$db.collection('DnevniIzvjestaji').add({
        Motrionica: buffer[0].Motrionica,
        Datum: this.getFormattedDate(Date.now()),
        stupanjRizika: '',
        Smjena1: {
          Prijava: '',
          Odjava: '',
          Radnik1: '',
          Radnik2: ''
        },
        Smjena2: {
          Prijava: '',
          Odjava: '',
          Radnik1: '',
          Radnik2: ''
        },
        Smjena3: {
          Prijava: '',
          Odjava: '',
          Radnik1: '',
          Radnik2: ''
        },
        h0002: { Promatranja: '', PoduzeteMjere: '' },
        h0204: { Promatranja: '', PoduzeteMjere: '' },
        h0406: { Promatranja: '', PoduzeteMjere: '' },
        h0608: { Promatranja: '', PoduzeteMjere: '' },
        h0810: { Promatranja: '', PoduzeteMjere: '' },
        h1012: { Promatranja: '', PoduzeteMjere: '' },
        h1214: { Promatranja: '', PoduzeteMjere: '' },
        h1416: { Promatranja: '', PoduzeteMjere: '' },
        h1618: { Promatranja: '', PoduzeteMjere: '' },
        h1820: { Promatranja: '', PoduzeteMjere: '' },
        h2022: { Promatranja: '', PoduzeteMjere: '' },
        h2224: { Promatranja: '', PoduzeteMjere: '' }

      })
    },
    getFormattedDate: function (timeStamp) {
      // TODO treba implementirat interval
      // const timeStamp = Date.now()
      // - HH:mm ako ćeš ure
      const formattedString = date.formatDate(timeStamp, 'D. MMMM.YYYY.', {
        days: ['Nedjelja', 'Ponedjeljak', 'Utorak', 'Srijeda', 'Četvrtak', 'Petak', 'Subota'],
        daysShort: ['Pon', 'Uto', 'Sri', 'Čet', 'Pet', 'Sub', 'Ned'],
        months: ['Siječnja', 'Veljače', 'Ožujka', 'Travnja', 'Svibnja', 'Lipnja', 'Srpnja', 'Kolovoza', 'Rujna', 'Listopada', 'Studenog', 'Prosinca'],
        monthsShort: ['01.', '02.', '03.', '04.', '05.', '06.', '07.', '08.', '09.', '10.', '11.', '12.']
      })
      return formattedString
    },
    getDeviceUUID: function () {
      const temp = window.device.uuid
      const integerized = temp.replace(/[^0-9]+/g, '')
      this.imei = parseInt(integerized)
      return parseInt(integerized)
    },
    getMotrionicaId: async function () {
      const deviceUID = this.getDeviceUUID()
      const snapshot = await this.$db.collection('Uredjaji').where('UUID', '==', deviceUID).get()
      const buffer = []
      snapshot.forEach(async (doc) => {
        await buffer.push(doc.data())
      })
      await console.log('BUFFER LENGTH = ' + buffer.length + '\n' + Object.entries(buffer[0]))
      const motrionica = await buffer[0].Motrionica.get()
      const motrionicaId = await motrionica.id
      return await motrionicaId
    },
    isNumber: function (input) {
      if (input === null) return false
      input = input.toString()
      let n = 0
      const array = input.split('')
      console.log('checking: ' + array)
      if (input.toString().length !== 5) return false
      for (let i = 0; i < array.length; i++) {
        if (Number.isInteger(parseInt(array[i], 10)) === true) {
          console.log('CHAR ' + array[i] + ' IS NUMBER')
          n++
        }
      }
      if (n === 5) return true
      return false
    },
    isNullOrWhitespace: function (input) {
      if (typeof input !== 'object' && input !== null) {
        return !input || !input.trim()
      }
      if (typeof input === 'object' && input !== null) {
        return false
      }
      return true
    },
    showNotif: function (msg, icon) {
      this.$q.notify({
        message: msg,
        icon: icon
      })
    }
  }
}
</script>
<style lang="sass">
.my-sticky
  /* height or max-height is important */
  height: 89vh
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
  thead tr:first-child th
    top: 0
  .myInputStyle
    background-color: rgba(255, 255, 255, 0.582)
  .myTextStyle
    color: rgb(255, 255, 255)
    text-shadow: 2px 2px rgb(0, 0, 0)
</style>
