<template>
    <div class="q-pa-xs">
    <q-table
    class="my-sticky"
    virtual-scroll
      title="Opcine"
      :rows-per-page-options="[0]"
      :virtual-scroll-sticky-size-start="48"
      :data="tableData"
      :columns="columns"
      row-key="docId"
      selection="single"
      :filter="filter"
      :loading="loading"
      :selected.sync="selected"
    >
    <template v-slot:top>
      <div class="q-gutter-sm">
        <q-btn color="primary"
        :disable="loading"
        label="Dodaj"
        @click="resetVModel();
        getZupanijeNonEmpty();
        newEntryRowDialog = true"
        />
        <q-btn color="primary" :disable="selected.length === 0" label="Obrisi" @click="deleteDialog = true"/>
        <q-btn color="primary" :disable="selected.length === 0" label="Izmjena" @click="prepareEdit(); editDialog = true"/>
      </div>
      <q-space />
      <q-input dense debounce="300" color="primary" v-model="filter">
        <template v-slot:append>
      <q-icon name="search" />
        </template>
      </q-input>
    </template>

    </q-table>

    <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="newEntryRowDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Novi unos</div>
          </q-card-section>
          <q-card-section>
            <q-input filled type="textfield" v-model="motrionicaModel" label="Naziv motrionice" />
            <q-select
            filled
            v-model="zupanijaModel"
            :options="zupanijeOptions"
            option-value="docId"
            option-label="Zupanija"
            @input="getFilteredOpcine();"
            label="Molimo odaberite zupaniju"
            />
            <q-select
            filled
            :disable ="zupanijaModel === null"
            v-model="opcinaModel"
            :options="opcineOptions"
            option-value="docId"
            option-label="Opcina"
            label="Molimo odaberite opcinu"
            />
            <q-btn color="primary"
            :disable="isFilled() == false"
            label="Spremi"
            @click="saveToDb()"
            v-close-popup
            />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

      <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="editDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Izmjena</div>
          </q-card-section>
          <q-card-section>
            <q-input filled type="textfield" v-model="motrionicaModel" label="Naziv motrionice" />
            <q-select
            filled
            disabled
            v-model="zupanijaModel"
            :options="zupanijeOptions"
            option-value="docId"
            option-label="Zupanija"
            label="Zupanija"
            />
            <q-select
            filled
            :disable ="zupanijaModel === null"
            v-model="opcinaModel"
            :options="opcineOptions"
            option-value="docId"
            option-label="Opcina"
            label="Opcina"
            />
            <q-btn color="primary"
            :disable="isFilled() == false"
            label="Spremi"
            @click="updateDocument()"
            v-close-popup
            />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

      <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="deleteDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Jeste li sigurni da želite izbrisati unos?</div>
          </q-card-section>
          <q-card-section class="q-gutter-md">
            <q-btn color="primary"
            label="Da"
            @click="deleteEntry()"
            v-close-popup />
            <q-btn color="primary"
            label="Ne"
            v-close-popup />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>
  </div>
</template>

<script>

export default {
  name: 'OpcineTable',
  data () {
    return {
      deleteDialog: false,
      newEntryRowDialog: false,
      editDialog: false,
      opcinaModel: null,
      motrionicaModel: null,
      zupanijaModel: null,
      loading: false,
      filter: '',
      rowCount: 10,
      columns: [{ name: 'motrionica', label: 'Motrionica', field: 'Naziv', align: 'center', sortable: true },
        { name: 'opcina', label: 'Opcina', field: 'Opcina', align: 'center', sortable: true },
        { name: 'zupanija', label: 'Zupanija', field: 'Zupanija', align: 'center', sortable: true }
      ],
      tableData: [],
      original: [],
      selected: [],
      opcineOptions: [],
      zupanijeOptions: []
    }
  },
  mounted: async function () {
    // this.tableData = await this.getDeepRealtime('Motrionice')
    this.getMotrionice()
  },
  methods: {
    getMotrionice: async function () {
      this.$db.collection('Motrionice').onSnapshot((querySnapshot) => {
        const buffer = []
        querySnapshot.forEach(async (doc) => {
          const opcina = await doc.data().reference1.get()
          const zupanija = await opcina.data().reference1.get()
          const docEntry = {
            docId: doc.id,
            opcinaId: opcina.id,
            Naziv: doc.data().Naziv,
            Opcina: opcina.data().Opcina,
            Zupanija: zupanija.data().Zupanija
          }
          buffer.push(docEntry)
        })
        this.tableData = buffer
      })
    },
    getDeepRealtime: async function (childCollection) {
      this.unsub = await this.$db.collection(childCollection).onSnapshot((querySnapshot) => {
        const buffer = []
        querySnapshot.forEach(async (doc) => {
          buffer.push(Object.assign(await this.getDocumentData(doc)))
          console.log(await this.getDocumentData(doc))
        })
        this.tableData = buffer
      })
    },
    getDocumentData: async function (doc) {
      var refNum = 1
      var docReferences = {}
      console.log('refNum = ' + refNum)
      // reference na parent dokument u bazi se nazivaju reference1, reference2... Za njih je nužan poseban query. Tome služi ovaj while ispod
      while (doc.get('reference' + refNum) != null) {
        const subDoc = await doc.get('reference' + refNum).get()
        docReferences = { ...docReferences, ...await this.getDocumentData(subDoc), docId: doc.id, subDocId: subDoc.id }
        refNum++
      }
      const docData = { ...doc.data(), ...docReferences }
      return docData
    },
    getZupanijeNonEmpty: async function () {
      this.zupanijeOptions = []
      let oldEntry = 0
      const opcine = await this.$db.collection('Opcine').get()
      opcine.forEach(async (doc) => {
        const zupanija = await doc.data().reference1.get()
        if (zupanija.id !== oldEntry) {
          this.zupanijeOptions.push({ docId: zupanija.id, ...zupanija.data() })
          console.log('PUSHAM ' + zupanija.id)
          oldEntry = zupanija.id
        }
      })
    },
    getFilteredOpcine: async function () {
      console.log('AAAAAAAAAAAAAAAA')
      const buffer = []
      const reference1 = await this.$db.doc('/Zupanije/' + this.zupanijaModel.docId)
      const filteredOpcine = await this.$db.collection('Opcine').where('reference1', '==', reference1).get()
      filteredOpcine.forEach((doc) => {
        const data = doc.data()
        if (data.reference1 !== undefined) {
          delete data.reference1
        }
        buffer.push({ docId: doc.id, ...data })
      })
      this.opcineOptions = buffer
      await console.log('OPCINEOPTIONS: ' + Object.entries(this.opcineOptions[0]))
    },
    saveToDb: async function () {
      const motrionicaData = {
        Naziv: this.motrionicaModel,
        reference1: this.$db.collection('Opcine').doc(this.opcinaModel.docId)
      }
      await this.$db.collection('Motrionice').add(motrionicaData)
    },
    deleteEntry: async function () {
      console.log('SELECTED ID: ' + this.selected[0].docId)
      await this.$db.collection('Motrionice').doc(this.selected[0].docId).delete()
    },
    isFilled: function () {
      if (this.isNullOrWhitespace(this.opcinaModel) !== true &&
      this.isNullOrWhitespace(this.zupanijaModel) !== true &&
      this.isNullOrWhitespace(this.motrionicaModel) !== true) {
        return true
      } else return false
    },
    isNullOrWhitespace: function (input) {
      if (typeof input !== 'object' && input !== null) {
        return !input || !input.trim()
      }
      if (typeof input === 'object' && input !== null) {
        return false
      }
      return true
    },
    resetVModel: function () {
      this.opcinaModel = null
      this.motrionicaModel = null
      this.zupanijaModel = null
    },
    prepareEdit: async function () {
      this.motrionicaModel = this.selected[0].Naziv
      const buffer = []
      const opcinaRef = this.$db.collection('Opcine').doc(this.selected[0].opcinaId)
      const opcinaDoc = await opcinaRef.get()
      this.opcinaModel = {
        Opcina: opcinaDoc.data().Opcina,
        docId: opcinaDoc.id
      }
      const zupanijaRef = opcinaDoc.data().reference1
      const zupanijaDoc = await zupanijaRef.get()
      this.zupanijaModel = zupanijaDoc.data()
      const filteredOpcine = await this.$db.collection('Opcine').where('reference1', '==', zupanijaRef).get()
      filteredOpcine.forEach((doc) => {
        const data = doc.data()
        if (data.reference1 !== undefined) {
          delete data.reference1
        }
        buffer.push({ docId: doc.id, ...data })
      })
      this.opcineOptions = buffer
    },
    updateDocument: async function () {
      const ref = this.$db.collection('Motrionice').doc(this.selected[0].docId)
      ref.update({
        Naziv: this.motrionicaModel,
        reference1: this.$db.collection('Opcine').doc(this.opcinaModel.docId)
      })
      this.selected = []
    },
    showNotif: function (msg, icon) {
      this.$q.notify({
        message: msg,
        icon: icon
      })
    }
  }
}
</script>
<style lang="sass">
.my-sticky
  /* height or max-height is important */
  height: 89vh
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
  thead tr:first-child th
    top: 0
</style>
