<template>
    <div class="q-pa-xs">
    <q-table
    class="my-sticky"
    virtual-scroll
      title="Opcine"
      :rows-per-page-options="[0]"
      :virtual-scroll-sticky-size-start="48"
      :data="tableData"
      :columns="columns"
      row-key="docId"
      selection="single"
      :filter="filter"
      :loading="loading"
      :selected.sync="selected"
    >
    <template v-slot:top>
      <div class="q-gutter-sm">
        <q-btn color="primary" :disable="loading" label="Dodaj" @click="resetVModel(); getCollectionOnce('Zupanije'); newEntryRowDialog = true"/>
        <q-btn color="primary" :disable="selected.length === 0" label="Obrisi" @click="deleteDialog = true"/>
        <q-btn color="primary" :disable="selected.length === 0" label="Izmjena" @click="resetVModel(); prepareEdit(); editDialog = true"/>
      </div>
      <q-space />
      <q-input dense debounce="300" color="primary" v-model="filter">
        <template v-slot:append>
      <q-icon name="search" />
        </template>
      </q-input>
    </template>

    </q-table>

    <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="deleteDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Jeste li sigurni da želite izbrisati unos?</div>
          </q-card-section>
          <q-card-section class="q-gutter-md">
            <q-btn color="primary"
            label="Da"
            @click="deleteEntry()"
            v-close-popup />
            <q-btn color="primary"
            label="Ne"
            v-close-popup />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

    <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="newEntryRowDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Novi unos</div>
          </q-card-section>
          <q-card-section>
            <q-input filled type="textfield" v-model="opcinaModel" label="Molimo unesite ispravan naziv općine" />
            <q-input filled type="textfield" v-model="postBrModel" label="Molimo unesite ispravan poštanski broj općine" />
            <q-select
              filled
              v-model="zupanijaModel"
              :options="zupanijeOptions"
              option-value="docId"
              option-label="Zupanija"
              label="Molimo odaberite zupaniju"
            />
            <q-btn color="primary"
            :disable="isFilled() == false"
            label="Spremi"
            @click="saveToDb()"
            v-close-popup />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

    <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="editDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Izmjena</div>
          </q-card-section>
          <q-card-section>
            <q-input filled type="textfield" v-model="opcinaModel" label="Molimo unesite ispravan naziv opcine" />
            <q-input filled type="textfield" v-model="postBrModel" label="Molimo unesite ispravan poštanski broj općine" />
            <q-select
            disable
            filled
            v-model="zupanijaModel"
            :options="zupanijeOptions"
            option-value="docId"
            option-label="Zupanija"
            label="Zupanija"
            />
            <q-btn color="primary"
            :disable="isFilled() == false"
            label="Spremi"
            @click="updateDocument()"
            v-close-popup />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>
  </div>
</template>

<script>
import ZupanijeService from '../services/ZupanijeService'

export default {
  name: 'OpcineTable',
  data () {
    return {
      deleteDialog: false,
      unsub: null,
      newEntryRowDialog: false,
      editDialog: false,
      opcinaModel: null,
      zupanijaModel: null,
      postBrModel: null,
      loading: false,
      filter: '',
      rowCount: 10,
      columns: [{ name: 'opcina', label: 'Opcina', field: 'Opcina', align: 'center', sortable: true },
        { name: 'zupanija', label: 'Zupanija', field: 'Zupanija', align: 'center', sortable: true },
        { name: 'postBr', label: 'Poštanski broj', field: 'PostBr', align: 'center', sortable: true }
      ],
      tableData: [],
      original: [],
      selected: [],
      zupanijeOptions: []
    }
  },
  mounted: function () {
    console.log(ZupanijeService.nekikurac())
    this.getOpcine()
  },
  methods: {
    getOpcine: async function () {
      this.$db.collection('Opcine').onSnapshot((querySnapshot) => {
        const buffer = []
        querySnapshot.forEach(async (doc) => {
          const zupanija = await doc.data().reference1.get()
          const docEntry = {
            docId: doc.id,
            zupanijaId: zupanija.id,
            Opcina: doc.data().Opcina,
            PostBr: doc.data().PostBr,
            Zupanija: zupanija.data().Zupanija
          }
          buffer.push(docEntry)
        })
        this.tableData = buffer
      })
    },
    getCollectionOnce: async function (collectionName) {
      const buffer = []
      const collection = await this.$db.collection(collectionName).get()
      collection.forEach((doc) => {
        buffer.push({ docId: doc.id, ...doc.data() })
      })
      this.zupanijeOptions = buffer
    },
    saveToDb: async function () {
      const opcinaData = {
        Opcina: this.opcinaModel,
        PostBr: NaN,
        reference1: this.$db.collection('Zupanije').doc(this.zupanijaModel.docId)
      }
      if (this.isNumber(this.postBrModel)) {
        if (await this.isUnique(this.postBrModel, 'add') === true) {
          opcinaData.PostBr = parseInt(this.postBrModel)
          await this.$db.collection('Opcine').add(opcinaData)
        } else {
          this.showNotif('Opcina s istim poštanskim brojem već postoji', 'warning')
          this.postBrModel = null
        }
      } else {
        this.showNotif('Poštanski broj nije ispravan!', 'warning')
        this.postBrModel = null
      }
    },
    deleteEntry: async function () {
      const refOpcina = this.$db.collection('Opcine').doc(this.selected[0].docId)
      let numOfChildren = 0
      const radniciSnap = await this.$db.collection('Radnici').where('OpcinaBoravista', '==', refOpcina).get()
      radniciSnap.forEach((doc) => {
        numOfChildren++
      })
      const motrioniceSnap = await this.$db.collection('Motrionice').where('reference1', '==', refOpcina).get()
      motrioniceSnap.forEach((doc) => {
        numOfChildren++
      })
      console.log('BROJ ISTIH: ' + numOfChildren)
      if (numOfChildren === 0) {
        await refOpcina.delete()
      } else this.showNotif('Nije moguće brisanje dok postoje motrionice ili radnici registrirani u ovoj opcini!', 'warning')
    },
    updateDocument: async function () {
      if (this.isNumber(this.postBrModel)) {
        if (await this.isUnique(this.postBrModel, 'update') === true) {
          const ref = this.$db.collection('Opcine').doc(this.selected[0].docId)
          ref.update({
            Opcina: this.opcinaModel,
            PostBr: this.postBrModel
          })
          this.selected[0].Opcina = this.opcinaModel
          this.selected[0].PostBr = this.postBrModel
        } else {
          this.showNotif('Već postoji općina sa istim poštanskim brojem!', 'warning')
          this.postBrModel = null
        }
      } else {
        this.showNotif('Poštanski broj nije ispravan!', 'warning')
        this.postBrModel = null
      }
    },
    isNumber: function (input) {
      if (input === null) return false
      input = input.toString()
      let n = 0
      const array = input.split('')
      console.log('checking: ' + array)
      if (input.toString().length !== 5) return false
      for (let i = 0; i < array.length; i++) {
        if (Number.isInteger(parseInt(array[i], 10)) === true) {
          console.log('CHAR ' + array[i] + ' IS NUMBER')
          n++
        }
      }
      if (n === 5) return true
      return false
    },
    isUnique: async function (postBr, opt) {
      var b = 1
      let opcineCol = null
      if (opt === 'add') {
        opcineCol = await this.$db.collection('Opcine').get()
      } else
      if (opt === 'update') {
        console.log('passed postBr = ' + postBr)
        // firestore nema logički not, a nema ni logički OR sam po sebi pa je ovo logički OR...
        const opcineCol1 = await this.$db.collection('Opcine').where('PostBr', '>', parseInt(this.selected[0].PostBr, 10)).get()
        const opcineCol2 = await this.$db.collection('Opcine').where('PostBr', '<', parseInt(this.selected[0].PostBr, 10)).get()
        const opcineArray1 = opcineCol1.docs
        const opcineArray2 = opcineCol2.docs
        opcineCol = opcineArray1.concat(opcineArray2)
      }
      opcineCol.forEach((doc) => {
        console.log('PROVJERAVAM POSTANSKI BROJ ' + doc.data().PostBr + ' ,A INPUT JE ' + postBr)
        if (doc.data().PostBr === parseInt(postBr, 10)) {
          console.log('IMA ISTIH')
          b = 0
        } else {
          console.log('NIJE ISTI')
        }
      })
      console.log('b je: ' + b)
      if (b === 1) return true
      if (b === 0) return false
    },
    isFilled: function () {
      if (this.isNullOrWhitespace(this.opcinaModel) !== true &&
      this.isNullOrWhitespace(this.zupanijaModel) !== true &&
      this.isNullOrWhitespace((this.postBrModel).toString()) !== true) {
        return true
      } else return false
    },
    isNullOrWhitespace: function (input) {
      if (typeof input !== 'object' && input !== null) {
        return !input || !input.trim()
      }
      if (typeof input === 'object' && input !== null) {
        return false
      }
      return true
    },
    resetVModel: function () {
      this.opcinaModel = null
      this.zupanijaModel = null
      this.postBrModel = null
    },
    prepareEdit: function () {
      this.opcinaModel = this.selected[0].Opcina
      this.postBrModel = this.selected[0].PostBr
      this.zupanijaModel = this.selected[0].Zupanija
      console.log('PREPARED FOR EDIT. OPCINA MODEL: ' + this.opcinaModel + 'ZUPANIJA MODEL: ' + this.zupanijaModel)
    },
    showNotif: function (msg, icon) {
      this.$q.notify({
        message: msg,
        icon: icon
      })
    }
  }
}
</script>
<style lang="sass">
.my-sticky
  /* height or max-height is important */
  height: 89vh
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
  thead tr:first-child th
    top: 0
</style>
