<template>
    <div class="q-pa-xs">

    <q-table
    class="my-sticky"
    virtual-scroll
      title="Radnici"
      :rows-per-page-options="[0]"
      :virtual-scroll-sticky-size-start="48"
      :data="tableData"
      :columns="columns"
      row-key="docId"
      selection="single"
      :filter="filter"
      :loading="loading"
      :selected.sync="selected"
    >
    <template v-slot:top>
      <div class="q-gutter-sm">
        <q-btn color="primary" :disable="loading" label="Dodaj" @click="resetVModel(); getCollectionOnce('Opcine'); addDialog = true"/>
        <q-btn color="primary" :disable="selected.length === 0" label="Obrisi" @click="deleteDialog = true"/>
        <q-btn color="primary" :disable="selected.length === 0" label="Izmjena" @click="resetVModel(); getCollectionOnce('Opcine'); prepareEdit(); editDialog = true"/>
      </div>
      <q-space />
      <q-input dense debounce="300" color="primary" v-model="filter">
        <template v-slot:append>
      <q-icon name="search" />
        </template>
      </q-input>
    </template>
    </q-table>

    <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="deleteDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Jeste li sigurni da želite izbrisati unos?</div>
          </q-card-section>
          <q-card-section class="q-gutter-md">
            <q-btn color="primary"
            label="Da"
            @click="deleteDocument()"
            v-close-popup />
            <q-btn color="primary"
            label="Ne"
            v-close-popup />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

    <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="addDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Novi unos</div>
          </q-card-section>
          <q-card-section>
            <q-input filled type="textfield" v-model="radnikModel.OIB" label="OIB" />
            <q-input filled type="textfield" v-model="radnikModel.Ime" label="Ime" />
            <q-input filled type="textfield" v-model="radnikModel.Prezime" label="Prezime" />
            <q-input filled type="textfield" v-model="radnikModel.Godiste" label="Godina rodjenja" />
            <q-select
            filled
            v-model="radnikModel.OpcinaBoravista"
            :options="opcineOptions"
            option-value="docId"
            option-label="Opcina"
            label="Opcina boravišta"
            />
            <q-btn color="primary"
            :disable="isFilled() == false"
            label="Spremi"
            @click="saveToDb()"
            v-close-popup
            />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

      <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="editDialog">
          <q-card style="width: 400px" >
          <q-card-section>
            <div class="text-h6">Izmjena</div>
          </q-card-section>
          <q-card-section>
            <q-input filled type="textfield" v-model="radnikModel.OIB" label="OIB" />
            <q-input filled type="textfield" v-model="radnikModel.Ime" label="Ime" />
            <q-input filled type="textfield" v-model="radnikModel.Prezime" label="Prezime" />
            <q-input filled type="textfield" v-model="radnikModel.Godiste" label="Godina rodjenja" />
            <q-select
            filled
            v-model="radnikModel.OpcinaBoravista"
            :options="opcineOptions"
            option-value="docId"
            option-label="Opcina"
            label="Opcina boravišta"
            />
            <q-btn color="primary"
            :disable="isFilled() == false"
            label="Spremi"
            @click="updateDocument();"
            v-close-popup
            />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>
    </div>
</template>
<script>
export default {
  name: 'RadniciTable',
  data () {
    return {
      radnikModel: {
        OIB: null,
        Ime: null,
        Prezime: null,
        OpcinaBoravista: null,
        Godiste: null
      },
      deleteDialog: false,
      addDialog: false,
      editDialog: false,
      loading: false,
      filter: '',
      tableData: [],
      original: [],
      selected: [],
      opcineOptions: [],
      columns: [
        { name: 'OIB', label: 'OIB', field: 'OIB', align: 'left', sortable: true },
        { name: 'ime', label: 'Ime', field: 'Ime', align: 'left', sortable: true },
        { name: 'prezime', label: 'Prezime', field: 'Prezime', align: 'left', sortable: true },
        { name: 'boraviste', label: 'Opcina boravista', field: 'OpcinaBoravista', align: 'left', sortable: true },
        { name: 'godinaRodjenja', label: 'Godina rođenja', field: 'Godina', align: 'left', sortable: true }

      ]
    }
  },
  mounted: function () {
    this.getRadnici('Radnici')
  },
  methods: {
    getRadnici: async function () {
      this.$db.collection('Radnici').onSnapshot((querySnapshot) => {
        const buffer = []
        querySnapshot.forEach(async (doc) => {
          const opcina = await doc.data().OpcinaBoravista.get()
          const docEntry = {
            docId: doc.id,
            opcinaId: opcina.id,
            Ime: doc.data().Ime,
            Prezime: doc.data().Prezime,
            OIB: doc.data().OIB,
            OpcinaBoravista: opcina.data().Opcina,
            Godina: doc.data().Godiste
          }
          buffer.push(docEntry)
        })
        this.tableData = buffer
      })
    },
    getCollectionOnce: async function (collectionName) {
      const buffer = []
      const collection = await this.$db.collection(collectionName).get()
      collection.forEach((doc) => {
        buffer.push({ docId: doc.id, ...doc.data() })
      })
      this.opcineOptions = buffer
    },
    saveToDb: async function () {
      const opcinaRef = this.$db.collection('Opcine').doc(this.radnikModel.OpcinaBoravista.docId)
      const opcinaData = await opcinaRef.get()
      this.radnikModel.OpcinaBoravista = opcinaRef
      this.radnikModel.OIB = parseInt(this.radnikModel.OIB)
      this.radnikModel.Godiste = parseInt(this.radnikModel.Godiste)
      if (this.CheckOIB(this.radnikModel.OIB)) {
        if (await this.isUnique(this.radnikModel.OIB, 'add') === true) {
          await this.$db.collection('Radnici').add(this.radnikModel)
          opcinaRef.update({
            numOfChildren: opcinaData.data().numOfChildren + 1
          })
        } else {
          this.showNotif('Zaposlenik s ovim OIB-om već postoji')
        }
      } else {
        this.showNotif('Unešeni OIB nije ispravan!', 'warning')
      }
    },
    prepareEdit: function () {
      this.radnikModel.OIB = this.selected[0].OIB
      this.radnikModel.Ime = this.selected[0].Ime
      this.radnikModel.Prezime = this.selected[0].Prezime
      this.radnikModel.OpcinaBoravista = this.selected[0].OpcinaBoravista
      this.radnikModel.Godiste = this.selected[0].Godina
    },
    updateDocument: async function () {
      this.radnikModel.OpcinaBoravista = this.$db.collection('Opcine').doc(this.selected[0].opcinaId)
      this.radnikModel.OIB = parseInt(this.radnikModel.OIB)
      this.radnikModel.Godiste = parseInt(this.radnikModel.Godiste)
      if (this.CheckOIB(this.radnikModel.OIB)) {
        if (await this.isUnique(this.radnikModel.OIB, 'update') === true) {
          await this.$db.collection('Radnici').doc(this.selected[0].docId).update({
            Ime: this.radnikModel.Ime,
            Prezime: this.radnikModel.Prezime,
            OIB: this.radnikModel.OIB,
            OpcinaBoravista: this.radnikModel.OpcinaBoravista,
            Godiste: this.radnikModel.Godiste
          })
        } else { this.showNotif('Zaposlenik s unešenim OIB-om već postoji') }
      } else {
        this.showNotif('Uneseni OIB nije ispravan!', 'warning')
      }
    },
    deleteDocument: async function () {
      const radnikRef = this.$db.collection('Radnici').doc(this.selected[0].docId)
      await radnikRef.delete()
    },
    resetVModel: function () {
      for (var key in this.radnikModel) {
        this.radnikModel[key] = null
      }
    },
    isFilled: function () {
      var n = 0
      for (var key in this.radnikModel) {
        const value = this.radnikModel[key]
        if (this.isNullOrWhitespace(value) !== true) {
          n++
        }
      }
      if (n === 5) { return true } else return false
    },
    isNullOrWhitespace: function (input) {
      if (typeof input !== 'object' && input !== null) {
        return !input || !input.trim()
      }
      if (typeof input === 'object' && input !== null) {
        return false
      }
      return true
    },
    showNotif: function (msg, icon) {
      this.$q.notify({
        message: msg,
        icon: icon
      })
    },
    isUnique: async function (oib, opt) {
      var b = 1
      let radniciCol = null
      if (opt === 'add') {
        radniciCol = await this.$db.collection('Radnici').get()
      } else
      if (opt === 'update') {
        console.log('passed OIB = ' + oib)
        // jebeni firestore nema logički not, a nema ni logički OR sam po sebi pa je ovo logički OR...
        const radniciCol1 = await this.$db.collection('Radnici').where('OIB', '>', parseInt(this.selected[0].OIB)).get()
        const radniciCol2 = await this.$db.collection('Radnici').where('OIB', '<', parseInt(this.selected[0].OIB)).get()
        const radniciArray1 = radniciCol1.docs
        const radniciArray2 = radniciCol2.docs
        radniciCol = radniciArray1.concat(radniciArray2)
        await radniciCol.forEach((doc) => {
          console.log('radniciCol doc = ' + doc.data())
        })
      }
      radniciCol.forEach((doc) => {
        console.log(doc.data().Ime + ':' + doc.data().OIB)
        console.log(oib)
        if (doc.data().OIB === oib) {
          console.log('IMA ISTIH')
          b = 0
        } else {
          console.log('NIJE ISTI')
        }
      })
      console.log('b je: ' + b)
      if (b === 1) return true
      if (b === 0) return false
    },
    CheckOIB: function (oib) {
      oib = oib.toString()
      if (oib.length !== 11) return false
      var b = parseInt(oib, 10)
      if (isNaN(b)) return false
      var a = 10
      for (var i = 0; i < 10; i++) {
        a = a + parseInt(oib.substr(i, 1), 10)
        a = a % 10
        if (a === 0) a = 10
        a *= 2
        a = a % 11
      }
      var kontrolni = 11 - a
      if (kontrolni === 10) kontrolni = 0
      return kontrolni === parseInt(oib.substr(10, 1))
    }
  }
}
</script>
<style lang="sass">
.my-sticky
  /* height or max-height is important */
  height: 89vh
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
  thead tr:first-child th
    top: 0
</style>
