<template>
  <div class="q-pa-xs">
    <q-table
    class="my-sticky"
    virtual-scroll
      title="Uređaji"
      :rows-per-page-options="[0]"
      :virtual-scroll-sticky-size-start="48"
      :data="tableData"
      :columns="columns"
      row-key="docId"
      selection="single"
      :filter="filter"
      :loading="loading"
      :selected.sync="selected"
    >
    <template v-slot:top>
      <div class="q-gutter-sm">
        <q-btn color="primary" :disable="loading" label="Dodaj" @click="resetVModel(); getCollectionOnce('Motrionice'); addDialog = true"/>
        <q-btn color="primary" :disable="selected.length === 0" label="Obrisi" @click="deleteDialog = true"/>
      </div>
      <q-space />
      <q-input dense debounce="300" color="primary" v-model="filter">
        <template v-slot:append>
      <q-icon name="search" />
        </template>
      </q-input>
    </template>
    </q-table>

    <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="addDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Novi unos</div>
          </q-card-section>
          <q-card-section>
            <q-input filled type="textfield" v-model="uredjajModel.UUID" label="UUID" />
            <q-input filled type="textfield" v-model="uredjajModel.Marka" label="Marka" />
            <q-input filled type="textfield" v-model="uredjajModel.Model" label="Model" />
            <q-select
            filled
            v-model="uredjajModel.Motrionica"
            :options="motrioniceOptions"
            option-value="docId"
            option-label="Naziv"
            label="Registrirana motrionica"
            />
            <q-btn color="primary"
            :disable="isFilled() == false"
            label="Spremi"
            @click="saveToDb()"
            v-close-popup
            />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

      <div class="q-pa-md q-gutter-sm">
        <q-dialog v-model="deleteDialog">
          <q-card style="width: 400px">
          <q-card-section>
            <div class="text-h6">Jeste li sigurni da želite izbrisati unos?</div>
          </q-card-section>
          <q-card-section class="q-gutter-md">
            <q-btn color="primary"
            label="Da"
            @click="deleteDocument()"
            v-close-popup />
            <q-btn color="primary"
            label="Ne"
            v-close-popup />
          </q-card-section>
          </q-card>
        </q-dialog>
      </div>

  </div>
</template>

<script>
export default {
  name: 'UredjajiTable',
  data () {
    return {
      uredjajModel: {
        UUID: null,
        Marka: null,
        Model: null,
        Motrionica: null
      },
      deleteDialog: false,
      addDialog: false,
      editDialog: false,
      loading: false,
      filter: '',
      tableData: [],
      original: [],
      selected: [],
      motrioniceOptions: [],
      columns: [
        { name: 'UUID', label: 'UUID', field: 'UUID', align: 'left', sortable: true },
        { name: 'Marka', label: 'Marka', field: 'Marka', align: 'left', sortable: true },
        { name: 'Model', label: 'Model', field: 'Model', align: 'left', sortable: true },
        { name: 'Motrionica', label: 'Motrionica', field: 'Motrionica', align: 'left', sortable: true }
      ]
    }
  },
  mounted: function () {
    this.getUredjaji()
  },
  methods: {
    getUredjaji: async function () {
      this.$db.collection('Uredjaji').onSnapshot((querySnapshot) => {
        const buffer = []
        querySnapshot.forEach(async (doc) => {
          const motrionica = await doc.data().Motrionica.get()
          const docEntry = {
            docId: doc.id,
            motrionicaId: motrionica.id,
            UUID: doc.data().UUID,
            Marka: doc.data().Marka,
            Model: doc.data().Model,
            Motrionica: motrionica.data().Naziv
          }
          buffer.push(docEntry)
        })
        this.tableData = buffer
      })
    },
    saveToDb: async function () {
      const motrionicaRef = this.$db.collection('Motrionice').doc(this.uredjajModel.Motrionica.docId)
      this.uredjajModel.Motrionica = motrionicaRef
      console.log('SANITI CHECK: ' + this.uredjajModel.UUID)
      this.uredjajModel.UUID = parseFloat(this.uredjajModel.UUID)
      if (await this.isUnique(this.uredjajModel.UUID, 'add') === true) {
        await this.$db.collection('Uredjaji').add(this.uredjajModel)
      } else {
        this.showNotif('Uređaj s ovim UUID brojem već postoji')
      }
    },
    deleteDocument: async function () {
      const uredjajRef = this.$db.collection('Uredjaji').doc(this.selected[0].docId)
      await uredjajRef.delete()
    },
    getCollectionOnce: async function (collectionName) {
      const buffer = []
      const collection = await this.$db.collection(collectionName).get()
      collection.forEach((doc) => {
        buffer.push({ docId: doc.id, ...doc.data() })
      })
      this.motrioniceOptions = buffer
    },
    isFilled: function () {
      var n = 0
      for (var key in this.uredjajModel) {
        const value = this.uredjajModel[key]
        if (this.isNullOrWhitespace(value) !== true) {
          n++
        }
      }
      if (n === 4) { return true } else return false
    },
    isNullOrWhitespace: function (input) {
      input = String.toString(input)
      if (typeof input !== 'object' && input !== null) {
        return !input || !input.trim()
      }
      if (typeof input === 'object' && input !== null) {
        return false
      }
      return true
    },
    resetVModel: function () {
      for (var key in this.uredjajModel) {
        this.uredjajModel[key] = null
      }
    },
    showNotif: function (msg, icon) {
      this.$q.notify({
        message: msg,
        icon: icon
      })
    },
    isUnique: async function (uuid, opt) {
      var b = 1
      let uredjajiCol = null
      if (opt === 'add') {
        uredjajiCol = await this.$db.collection('Uredjaji').get()
      } else
      if (opt === 'update') {
        console.log('passed uuid = ' + uuid)
        // firestore nema logički not, a nema ni logički OR sam po sebi pa je ovo logički OR...
        const uredjajiCol1 = await this.$db.collection('Uredjaji').where('UUID', '>', parseInt(this.selected[0].UUID)).get()
        const uredjajiCol2 = await this.$db.collection('Uredjaji').where('UUID', '<', parseInt(this.selected[0].UUID)).get()
        const uredjajiArray1 = uredjajiCol1.docs
        const uredjajiArray2 = uredjajiCol2.docs
        uredjajiCol = uredjajiArray1.concat(uredjajiArray2)
        await uredjajiCol.forEach((doc) => {
          console.log('uredjajiCol doc = ' + doc.data())
        })
      }
      uredjajiCol.forEach((doc) => {
        console.log(doc.data().Marka + ':' + doc.data().UUID)
        console.log(uuid)
        if (doc.data().UUID === uuid) {
          console.log('IMA ISTIH')
          b = 0
        } else {
          console.log('NIJE ISTI')
        }
      })
      console.log('b je: ' + b)
      if (b === 1) return true
      if (b === 0) return false
    }
  }
}
</script>
<style lang="sass">
.my-sticky
  /* height or max-height is important */
  height: 89vh
  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color: #fff

  thead tr th
    position: sticky
    z-index: 1
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
  thead tr:first-child th
    top: 0
</style>
