<template>
  <q-layout class="window" view="hHh lpR fFf">
      <q-parallax
      src="suma.jpg"
      :height="1280"
      class="background-image"
    >
    </q-parallax>
    <q-header elevated class="q-electron-drag my-header">
      <q-toolbar>
        <div>
        <q-btn
        color="white"
        class="text-black q-electron-drag--exception"
        style="font-size: 1.5em"
        flat dense round
        icon="more_horiz"
        aria-label="Menu"
        @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-tooltip content-style="font-size: 16px">
          Funkcionalnosti
        </q-tooltip>
        </div>
        <div>
          <img class="my-logo" src="hrvatske-sume-logo.png"/>
        </div>
        <q-space/>
        <q-btn color="white" dense flat icon="minimize" @click="minimize" />
        <q-btn color="white" dense flat icon="crop_square" @click="maximize" />
        <q-btn color="white" dense flat icon="close" @click="close" />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      loginStatus: false
    }
  },
  mounted: function () {
    this.$auth.onAuthStateChanged((user) => {
      if (user) {
        // User is signed in.
        console.log('Index.vue: USER IS SIGNED IN')
        this.loginStatus = true
      } else {
        console.log('Index.vue: NO USER IS SIGNED IN')
        this.loginStatus = false
        // No user is signed in.
      }
    })
  },
  methods: {
    logout: function () {
      this.$auth.signOut().then(() => {
        this.$router.replace('/')
        console.log('SUCCESSFULLY SIGNED OUT')
      }).catch((error) => {
        console.log('ERROR WHILE SIGNING OUT' + error)
      })
    }
  }
}
</script>
<style lang="scss">
.background-image {
  position: absolute;
  z-index: -1;
  filter: grayscale(0.5);
}
.font-class {
font-style: oblique;
font-weight: bold;
color: rgba(231, 0, 0, 0.719);
font-family: Arial, Helvetica, sans-serif;
text-shadow: 1px 1px rgba(0, 0, 0, 0.5)
}
.window {
  overflow: hidden;
  height:95%;
  background: rgba(0, 48, 63, 0.37);
}
.my-header {
  height: 50px;
}
.my-logo {
  height: 40px;
}
</style>
