<template>
  <q-layout class="window" view="hHh lpR fFf">
      <q-parallax
      src="suma.jpg"
      :height="1280"
      class="background-image"
    >
    </q-parallax>
    <q-header elevated class="q-electron-drag my-header">
      <q-toolbar>
        <div>
        <q-btn
        v-if="isMobile === false"
        color="white"
        class="text-black q-electron-drag--exception"
        style="font-size: 1.5em"
        flat dense round
        icon="more_horiz"
        aria-label="Menu"
        @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-tooltip content-style="font-size: 16px">
          Funkcionalnosti
        </q-tooltip>
        </div>
        <div>
          <img class="my-logo" src="hrvatske-sume-logo.png"/>
        </div>
        <q-space/>
        <q-btn v-if="isMobile === false" color="white" dense flat icon="minimize" @click="minimize" />
        <q-btn v-if="isMobile === false" color="white" dense flat icon="crop_square" @click="maximize" />
        <q-btn v-if="isMobile === false" color="white" dense flat icon="close" @click="close" />
      </q-toolbar>
    </q-header>

    <q-drawer
        v-if="isMobile === false"
        v-model="leftDrawerOpen"
        show-if-above
        :width="200"
        :breakpoint="500"
        bordered
        content-class="bg-grey-3"
      >
        <q-scroll-area class="fit">
          <q-list v-for="(menuItem, index) in menuList" :key="index">

            <q-item v-if="loginStatus == true" clickable :active="menuItem.label === 'Outbox'" v-ripple @click="getOpcinePage(index)">
              <q-item-section avatar>
                <q-icon :name="menuItem.icon" />
              </q-item-section>
              <q-item-section>
                {{ menuItem.label }}
              </q-item-section>
            </q-item>
           <q-separator v-if="menuItem.separator" />

          </q-list>
          <q-list bordered clickable>
            <q-item v-if="loginStatus == false" clickable v-ripple @click="getOpcinePage(99)">
              <q-item-section avatar>
                <q-icon color="primary" name="input" />
              </q-item-section>
              <q-item-section>Prijava</q-item-section>
            </q-item>
            <q-item v-if="loginStatus == true" clickable v-ripple @click="logout()">
              <q-item-section avatar>
                <q-icon color="primary" name="exit_to_app" />
              </q-item-section>
              <q-item-section>Odjava</q-item-section>
            </q-item>
          </q-list>

        </q-scroll-area>
      </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
const menuList = [
  {
    icon: 'view_list',
    label: 'Opcine',
    separator: false
  },
  {
    icon: 'view_list',
    label: 'Motrionice',
    separator: false
  },
  {
    icon: 'view_list',
    label: 'Radnici',
    separator: false
  },
  {
    icon: 'view_list',
    label: 'Uređaji',
    separator: false
  }
]
export default {
  data () {
    return {
      userEmail: null,
      isMobile: false,
      loginStatus: false,
      leftDrawerOpen: false,
      drawer: false,
      menuList
    }
  },
  mounted: function () {
    if (process.env.MODE === 'cordova') { this.isMobile = true } else { this.isMobile = false }
    this.$auth.onAuthStateChanged((user) => {
      if (user) {
        // User is signed in.
        console.log('Index.vue: USER IS SIGNED IN')
        this.loginStatus = true
      } else {
        console.log('Index.vue: NO USER IS SIGNED IN')
        this.loginStatus = false
        // No user is signed in.
      }
    })
  },
  methods: {
    logout: function () {
      this.$auth.signOut().then(() => {
        this.$router.replace('/')
        console.log('SUCCESSFULLY SIGNED OUT')
      }).catch((error) => {
        console.log('ERROR WHILE SIGNING OUT' + error)
      })
    },
    getOpcinePage: function (index) {
      if (index === 0) { this.$router.replace('/opcine') }
      if (index === 1) { this.$router.replace('/motrionice') }
      if (index === 2) { this.$router.replace('/radnici') }
      if (index === 3) { this.$router.replace('/uredjaji') }
      if (index === 99) { this.$router.replace('/') }
    },
    minimize () {
      if (process.env.MODE === 'electron') {
        this.$q.electron.remote.BrowserWindow.getFocusedWindow().minimize()
      }
    },

    maximize () {
      if (process.env.MODE === 'electron') {
        const win = this.$q.electron.remote.BrowserWindow.getFocusedWindow()

        if (win.isMaximized()) {
          win.unmaximize()
        } else {
          win.maximize()
        }
      }
    },

    close () {
      if (process.env.MODE === 'electron') {
        this.$q.electron.remote.BrowserWindow.getFocusedWindow().close()
      }
    }
  }
}
</script>
<style lang="scss">
.background-image {
  position: absolute;
  z-index: -1;
  filter: grayscale(0.5);
}
.font-class {
font-style: oblique;
font-weight: bold;
color: rgba(231, 0, 0, 0.719);
font-family: Arial, Helvetica, sans-serif;
text-shadow: 1px 1px rgba(0, 0, 0, 0.5)
}
.window {
  overflow: hidden;
  height:95%;
  background: rgba(0, 48, 63, 0.37);
}
.my-header {
  height: 50px;
}
.my-logo {
  height: 40px;
}
</style>
